<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost.ro-z.me</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>FlyFun needs your location to show nearby airports and help you navigate.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>FlyFun needs your location to show nearby airports and provide navigation assistance.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
</dict>
</plist>
